@import url(./vendor/fonts/fonts.css);

html {
  scroll-behavior: smooth;
}



.navbar {
  max-width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  color: #fff;
  margin-bottom: 100px;
}

.navbar__logo {
  margin: 0;
  cursor: pointer;
}

.navbar__logo:hover {
  opacity: 0.7;
}

.navbar__list {
  list-style: none;
  display: flex;
  text-decoration: none;
  padding: 0;
}

.navbar__list-item {
  text-decoration: none;
  transition: all .5s linear;
  color: #fff;
  font-size: 1.4em;
  padding: 0;
  margin-right: 30px;
}

.navbar__list-item:hover {
  opacity: 0.7;
}

.header {
  
  height: 700px;
  max-width: 500px;
  margin: 0 auto;
}

.header__content{
  min-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #2a2c2f;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  text-align: center;
}

.header__icon {
  padding: 20px 0px 36px;
  width: 288px;
  height: 210px;
  margin: 0 auto;
}

.header__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.gallery {
  background-color: #2a2c2f;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 140px;
  color: #fff;
}

.gallery__title {
  padding: 100px 0 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
}

.gallery__grid {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  padding: 0 48px;
  gap: 40px;
}
.gallery__item {
  margin: 0px;

}

.gallery__desc {
  padding-top: 25px;
  text-align: center;
}

.gallery__image {
  object-fit: cover;
  margin:0;
  width: 100%;
  
  
}

.footer {
  padding: 100px 0 110px 0;
}

.footer__heading {
  line-height: 48px;
  font-size: 32px;
  margin: 0 0 80px;
  text-align: center;
}

.footer__form {
  max-width: 389px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__form-label {
  margin-block-end: 14px;
  font-weight: bold;
}

.footer__form-input {
  margin-bottom: 28px;
  height: 50px;
  outline: none;
  border-radius: 10px;
}

.footer__form-input_type_message {
  height: 138px;
  margin-bottom: 28px;
  border-radius: 10px;
}

.footer__form-button {
  height: 18px;
  padding: 20px 40px;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s linear;
}

.footer__form-button:hover {
  opacity: 0.7;
}